/* bintang(*) berfungsi untuk menyeleksi semua */
* {
  font-size: 25px;
}
body {
  margin: 0;
  padding: 0;
}
/* Header Styling */
.header {
  background-color: #af1616;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: rgb(238, 234, 234);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: rgb(199, 30, 18);
}

.navbar {
  width: 100%;
  height: 75%;
  background: rgb(182, 13, 13);
}
/* akhir header */

/* navigasi */
.navigasi {
  background-color: #f0bc13;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .menu {
  width: 100%;
  height: 75%;
  background: rgb(229, 255, 0);

  display: flex;
  justify-content: center;
  align-items: center;
} */
main {
  width: 70%;
  height: 350px;
  background: green;

  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  width: 30%;
  height: 350px;
  background: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  width: 100%;
  height: 100px;
  background: orange;

  display: flex;
  justify-content: center;
  align-items: center;
}
